/* Green Palette */
:root {
    --title-transparent-light: rgba(193, 209, 31, 0.6);  /* For the transparent title in light mode */
    --header-footer-light: #3d860b;  /* For header and footer in light mode */
    --button-color-light: #6ec007;  /* For buttons in light mode */
    
    --title-transparent-dark: rgba(85, 85, 85, 0.6);  /* For the transparent title in dark mode */
    --header-footer-dark: #333;  /* For header and footer in dark mode */
    --button-color-dark: #444;  /* For buttons in dark mode */
}

.linkedin-button {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 20px;
    border-radius: 4px;
    background-color: #0e76a8;  /* LinkedIn blue */
    color: white;  /* White text and icon */
    font-size: 16px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.linkedin-button:hover {
    background-color: #005583;  /* Darker LinkedIn blue on hover */
}

.linkedin-button i {
    margin-right: 5px;
}

.first-name {
    margin-bottom: 5px; /* Adjust this value as needed */
}

.last-name {
    margin-top: 5px; /* Adjust this value as needed */
}

/* Basic reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    margin: 0 20px; /* Adding horizontal margin */
}

header, footer {
    background-color: var(--header-footer-light);
    color: #fff;
    text-align: center;
    padding: 1rem;
    margin-bottom: 2rem; /* Add space below header */
}

h1, h2, h3 {
    font-weight: bold; /* Bold titles */
    margin-bottom: 1rem;
}

h2 {
    background-color: var(--title-transparent-light);
    padding: 0.5rem;  /* Padding for the title */
    display: block;  /* Takes up the entire line */
    margin: 0;  /* Resetting any margins */
}

ul {
    list-style-type: disc; /* Adds the classic bullet point to lists */
    padding-left: 20px; /* Indentation for the list */
}

section {
    margin-bottom: 20px; /* Space between sections */
}

#profilePic {
    width: 150px;
    border-radius: 50%;
    margin-bottom: 1rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* Navbar */
.navbar a {
    float: left;
    display: block;
    color: #fff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    background-color: var(--button-color-light);  /* Background color */
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
    padding: 5px 10px;  /* Add some padding */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);  /* Add a subtle shadow for depth */
    transition: background-color 0.3s;  /* Smooth transition for color changes */
}

.sticky + section {
    padding-top: 60px;  /* height of the navbar */
}

/* Dark Mode Adjustments */
.dark-mode {
    background-color: #202020;  /* A neutral dark gray */
}

.dark-mode header, .dark-mode footer {
    background-color: var(--header-footer-dark);  /* Dark mode header and footer */
}

.dark-mode a, .dark-mode h1, .dark-mode h2, .dark-mode h3, .dark-mode p {
    color: #ffffff;  /* White text */
}

.dark-mode .navbar a:hover {
    background: #505050;
}

.dark-mode h2 {
    background-color: #555;  /* Dark gray for titles in dark mode */
}

/* Work Experience section improvements in dark mode */
.dark-mode #workExperience h3 {
    color: #ffffff;  /* White text for the title in dark mode */
}

.dark-mode #workExperience p:first-of-type {
    color: #ffffff;  /* White text for the date in dark mode */
}


/* Work Experience section improvements */
#workExperience h3 {
    color: #00610e; /* Darker green for the title in light mode */
    font-weight: 600; /* Making it slightly bold */
    margin-bottom: 5px; /* Space between company name and date */
}

#workExperience p:first-of-type {
    font-weight: 600; /* Making the date bold */
    color: #3d860b; /* Lighter green for the date in light mode */
    margin-bottom: 10px; /* Space between date and the job description */
}

.dark-mode #workExperience h3 {
    color: #999; /* Darker gray for the title in dark mode */
}

/* education section improvements */
#education h3 {
    color: #00610e; /* Darker green for the title in light mode */
    font-weight: 600; /* Making it slightly bold */
    margin-bottom: 5px; /* Space between company name and date */
}

#education p:first-of-type {
    font-weight: 600; /* Making the date bold */
    color: #3d860b; /* Lighter green for the date in light mode */
    margin-bottom: 10px; /* Space between date and the job description */
}

.dark-mode #education h3 {
    color: #999; /* Darker gray for the title in dark mode */
}

/* skills section improvements */
#skills h3 {
    color: #00610e; /* Darker green for the title in light mode */
    font-weight: 600; /* Making it slightly bold */
    margin-bottom: 5px; /* Space between company name and date */
}

#skills p:first-of-type {
    font-weight: 600; /* Making the date bold */
    color: #3d860b; /* Lighter green for the date in light mode */
    margin-bottom: 10px; /* Space between date and the job description */
}

.dark-mode #skills h3 {
    color: #999; /* Darker gray for the title in dark mode */
}

.dark-mode li {
    color: #ffffff;  /* White text for list items in dark mode */
}

.dark-mode #workExperience p:first-of-type {
    color: #777; /* Lighter gray for the date in dark mode */
}

/* General Button Styling */
button, .navbar a {
    border: none;
    border-radius: 25px; /* Rounded corners */
    padding: 10px 20px; /* Padding around text */
    transition: background-color 0.3s, transform 0.3s; /* Smooth transition for hover effect */
    font-weight: 600; /* Slightly bold font */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Slight shadow for depth */
    cursor: pointer;
}

/* Button Hover Effect */
button:hover, .navbar a:hover {
    background-color: #34a203; /* Lighter green on hover in light mode */
}

.dark-mode button:hover, .dark-mode .navbar a:hover {
    background-color: #555; /* Lighter gray on hover in dark mode */
}

/* For the dark mode button at the bottom of the page */
.dark-mode-toggle {
    background-color: var(--button-color-light);
    color: #fff; /* White text in light mode */
    margin-top: 20px; /* Space above the button */
    display: inline-block; /* To apply padding and border-radius */
}

.dark-mode-toggle:hover {
    background-color: #985ba5; /* Lighter violet on hover in light mode */
}

.dark-mode .dark-mode-toggle {
    background-color: var(--button-color-dark);
    color: #e6e6e6; /* Light gray text in dark mode */
}

.dark-mode .dark-mode-toggle:hover {
    background-color: #606060; /* Lighter gray on hover in dark mode */
}

/* Fancy Section Buttons */
.section-btn {
    display: inline-block;
    background-color: var(--button-color-light);
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    font-weight: bold;
    transition: background-color 0.3s, transform 0.3s;
    cursor: pointer;
    text-decoration: none;
    margin: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.section-btn:hover {
    background-color: #985ba5; /* Lighter violet on hover in light mode */
}

.section-btn:active {
    transform: scale(1);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.dark-mode .section-btn {
    background-color: var(--button-color-dark);
}

.dark-mode .section-btn:hover {
    background-color: #606060; /* Lighter gray on hover in dark mode */
}
